<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings> 
	<system.web>
		<!--<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />-->
        <compilation debug="true" targetFramework="4.7.2">
            <assemblies>
                <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.7.2" maxRequestLength="51200" />
        <pages>
      <controls>
		  
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
		<customErrors mode="Off"/>
	</system.web>
	<connectionStrings>
		<!--<add name="constr" connectionString="Data Source=5.9.143.153,1533;Initial Catalog=Zenex;Integrated Security=false;UID=usrZenex;PWD=EzJ7sbSrh3kPKA6q;Pooling=False;Connect Timeout=200000000" providerName="System.Data.SqlClient" />
		<add name="constr1" connectionString="Data Source=5.9.143.153,1533;Initial Catalog=ZenexSelect;Integrated Security=false;UID=usrZenex;PWD=EzJ7sbSrh3kPKA6q;Pooling=False;Connect Timeout=200000000" providerName="System.Data.SqlClient" />-->
        <add name="constr" connectionString="Data Source=103.172.92.68,1533;Initial Catalog=Zenex;Integrated Security=false;UID=usrzen;PWD=zen@#191Tp$;Pooling=False;Connect Timeout=200000000" providerName="System.Data.SqlClient" />
        <add name="constr1" connectionString="Data Source=103.172.92.68,1533;Initial Catalog=zenexselect;Integrated Security=false;UID=usrzen;PWD=zen@#191Tp$;Pooling=False;Connect Timeout=200000000" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
        <security>
            <requestFiltering>
                <!-- Set IIS upload limit to 50 MB -->
                <requestLimits maxAllowedContentLength="52428800" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
